<h1>
  Mostrando articulo seleccionado
</h1>

<p>
  Titulo: <%= @post.titulo %>
</p>

<p>
  Descripcion: <%= @post.descripcion %>
</p>

<%= link_to "Editar este articulo", edit_post_path(@post.id) %> |
<%= link_to "Ir a indice de posts", posts_path %>