$navbar-default-bg: #FFFFFF;
$jumbotron-bg: #FFFFFF;

@import "bootstrap-sprockets";
@import "bootstrap";
//= require bootstrap-sprockets

#logo {
  float : left;
  font-size: 1.7em;
  color: #000000;
  text-transform: upper-case;
  letter-spacing: -1px;
  font-weight: bold;
}

.center {
  text-align: center;
  background-color: "#ffffff";
}

.btn{
  border: none;
  border-radius: 0;
}

.well {
  border: none;
  border-radius: 0;
}

.titulo-post {
    font-weight: bold;
    font-size: 1.5em;
}

.cuerpo-post{
    padding-top: 8px;
    padding-bottom: 15px;
}

.footer ul {
  float: right;
  list-style: none;
}
