<div class = "container">
  <footer class = "footer">
    <small> &copy; <a href="#"> Texto de copyright para el blog de prueba </a> </small>
    <nav>
      <ul>
        <li> <%= link_to "Acerca de" ,about_path %> </li>
      </ul>
    </nav>
  </footer>
</div>